
.navbar{
    width: 96%;
    display: flex;
    border: 1px solid #fff;
    margin: 15px auto;

    border-radius: 50px;
    position: relative;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding:18px;
}
.logo{
    width: 230px;
    height: 60px;
    text-decoration: none;
}
.logo img{
    width: 100%;
    height: 100%;
}
.navbar-list{
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar-list > li{
    position: relative;
}
.navbar-list > li:after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
    width: 2px ;
    height: 60%;
    background: #fff;
}
.navbar-list > li:last-child:after{
    display: none;
    width: 0;
}
.navbar-list > li > a{
    color: #fff;
    text-decoration: none;
    font-family: "Manrope", sans-serif;
    font-size: 24px;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 25px;
}
.navbar-right a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius:50px;
    padding: 10px 20px;
}
.language-dropdown {
    position: relative;
    cursor: pointer;
    user-select: none;
    color: white;
    display: flex;
    gap: 5px;
    align-items: center;

}
.language-dropdown img{
    width: 30px;
    height: 30px;
}
.dropdown-list {
    position: absolute;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    list-style: none;
    margin: 0;
    z-index: 1000;
    padding: 0;
    overflow: hidden;
    border-radius: 20px;
    top: 35px;
}

.dropdown-list li {
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: black;
}

.dropdown-list li:hover {
    background-color: #f0f0f0;
}
.menu-burger{
    display: none;
}

@media (max-width: 1025px) {
    .navbar-list > li > a{
        font-size: 18px;
    }
    .logo {
        width: 182px;
        height: 49px;
        text-decoration: none;
    }
}
@media (max-width: 769px) {
    .navbar-list{
        display: none;
    }
    .navbar-right a{
        display:none;
    }
    .logo {
        width: 144px;
        height: 42px;
        text-decoration: none;
    }
    .navbar{
        height: 80px;
    }
    .menu-burger{
        display: block;
        width: 50px;
    }
}