.yarrow{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.header{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header h1{
    font-size: 64px;
    text-align: center;
    line-height: 70px;
}
.header h1 span{
    color: #FE6D00;
}
.header a{
    color: #fff;
    text-decoration: none;
    padding: 20px 150px;
    border-radius: 20px;
    border: 1px solid #fff;
    width: max-content;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    transition: 0.4s ease;
    cursor: pointer;
}
.header a:hover{
    color: #000000;
    background-color: #fff;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding-top: 100px;
}
.header-content p{
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin-top: 150px;

}
.header-content-img{
    width: 40%;

}
.header-content p span{
    color: #FE6D00;
}
.header-content-img-line{
    position: absolute;
    top: -80%;
    left: 0;
    width: 100%;
    z-index: -1;

}
.header-content-img-point{
    position: absolute;
    top: 130px;
    left: 0;
    width: 100px;
}
.yarrow-api-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 150px;
}
.yarrow-api-content h2{
    font-size: 64px;
    text-align: center;
}
.yarrow-api-content h2 span{
    color: #FE6D00;
}

.yarrow-api-content a{
    color: #fff;
    text-decoration: none;
    padding: 20px 150px;
    border-radius: 20px;
    border: 1px solid #fff;
    width: max-content;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    transition: 0.4s ease;
    cursor: pointer;
}
.yarrow-api-content a:hover{
    color: #000000;
    background-color: #fff;
}
.yarrow-api-content-elipseapi{
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 40%;
}
.yarrow-api-content-bottom{
    /*width: 70%;*/
    background: rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(4px);
    border-radius: 20px;
    border: 1px solid #fff;
    position: relative;
    padding: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*yarrow partners*/
.yarrow-partners{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
margin-top: 150px;}

.yarrow-partnersline{
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    z-index: -1;
}
.yarrow-partners p{
    color: #898989;
    text-align: center;
    font-size: 26px;
    width: 70%;
    margin: 0;
}
.yarrow-partners h2{
    margin: 0;
    font-size: 64px;
    text-align: center;
}
.yarrow-partners h2 span{
    color: #FE6D00;
}
.yarrow-pertenres-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}
.yarrow-partners-item{
    display: flex;
    flex-direction: column;
    width: 48%;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(4px);
}
.yarrow-partners-item span{
    color: #898989;
    font-size: 20px;
}
.yarrow-partners-item h2{
    margin: 0;
    font-size: 34px;
    text-align: start;
}
.yarrow-partners-item-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.yarrow-partners-item-text h3{
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 5px 15px;
}
.yarrow-partners-item img{
    width: 60%;
}

.yarrow-partners a{
    color: #fff;
    text-decoration: none;
    padding: 20px 150px;
    border-radius: 20px;
    border: 1px solid #fff;
    width: max-content;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    transition: 0.4s ease;
    cursor: pointer;
    margin-top: 30px;
}
.yarrow-partners a:hover{
    color: #000000;
    background-color: #fff;
}
/*yarrow partners*/

.yarrow-facilities{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    position: relative;
}
.yarrow-facilities-line{
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0%;
    left: 0;
}
.yarrow-facilities p{
    color: #898989;
    text-align: center;
    font-size: 26px;
    width: 70%;
    margin: 0;
}
.yarrow-facilities h2{
    margin: 0;
    font-size: 64px;
    text-align: center;
}
.yarrow-facilities h2 span{
    color: #FE6D00;

}
.yarrow-facilities-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.yarrow-facilities-item{
    font-size: 23px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 20px 20px;
    width: 30%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(4px);
}
.yarrow-contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 150px;
    align-items: center;
}
.yarrow-contact h2{
    margin: 0;
    font-size: 64px;
    text-align: center;
    color: #fff;
}
.yarrow-contact p{
    color: #898989;
    text-align: center;
    font-size: 20px;
    margin: 0;
}
.yarrow-contact-form{
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
}
.yarrow-contact-form-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.yarrow-contact-form-top-left{
    width: 49%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.yarrow-contact-form-top-left label{
    color: #fff;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.yarrow-contact-form-top-left label input{
    color: #fff;
    font-size: 22px;
    border: 1px solid #fff;
    border-radius: 20px;
    width: 100%;
    padding: 15px;
    outline: none;
    background: transparent;
}
.yarrow-contact-form-top-left label input::placeholder{
    color: #898989;
}
.yarrow-contact-form-top-left label textarea{
    color: #fff;
    font-size: 22px;
    border: 1px solid #fff;
    border-radius: 20px;
    width: 100%;
    padding: 15px;
    outline: none;
    background: transparent;
    height: 300px;
}
.yarrow-contact-form-top-left button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    background: transparent;
}
.yarrow-contact-form-top-right{
    width: 48%;
    height: 987px;
    border-radius: 20px;
    overflow: hidden;
}
.yarrow-contact-form-top-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.2;

}
.yarrow-contact-form-bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.yarrow-contact-form-bottom a{
    color: #fff;
    text-decoration: none;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #fff;
    width: 49%;
    transition: all 0.4s ease;
    cursor: pointer;

    font-size: 22px;
}
.yarrow-contact-form-bottom a:hover{
    color: #000000;
    background-color: #fff;

}
.yarrow-awwards{
    width: 100%;
    padding: 0 30px;
    margin-top: 10px;
    position: relative;
}
.yarrow-awwards h2{
    font-size: 64px;
    text-align: end;
}
.yarrow-awwards-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.yarrow-awwards-item{
    width: 30%;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    justify-content: center;
}
.yarrow-awwards-item h3{
    font-size: 64px;
    margin: 0;
    width: 100%;
    text-align: start;

}
.yarrow-awwards-item span{
    text-align: center;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 20px;
    font-size: 32px;
    padding: 10px;
}
.yarrow-awwards-line{
    width: 100%;
    position: absolute;

    top: 30%;
    left: 0;
}
.yarrow-app{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
position: relative;
}
.yarrow-roudto{
    position: absolute;
    bottom: 0;
    left: -10%;
}
.yarrow-app h2{
    font-size: 64px;
    text-align: center;
    margin: 0;
}
.yarrow-app h2 span{
    color: #FE6D00;
}

.yarrow-app h3{
    font-size: 48px;
    text-align: center;
margin: 0;
}
.yarrow-app h3 span{
    color: #FE6D00;
}
.yarrow-app a{
    color: #Fff;
    text-decoration: none;

    padding: 20px;
    border-radius: 20px;
    border: 1px solid #fff;
    font-weight: bold;
    font-size: 32px;
    transition: 0.4s ease;
    cursor: pointer;
    margin-top: 30px;
}
.yarrow-app a:hover{
    color: #000000;
    background-color: #fff;

}
.yarrow-app-img{
    width: 70%;
    margin-top: 100px;

}
.apparrow{
    width: 100%;
    position: absolute;
    top: 50%;
    left: -15%;
z-index: -1;
}

@media (max-width: 1441px) {
    .header h1{
        font-size: 54px;
    }
    .header a{
        font-size: 27px;
        padding: 15px 110px;
    }
    .header-content p{
        font-size: 43px;
        margin-top: 120px;
    }


    .yarrow-api-content h2{
        font-size: 54px;
    }
    .yarrow-api-content a{
        font-size: 27px;
        padding: 15px 110px;
    }
    .yarrow-partners-item-text h3{
        font-size: 18px;
    }
    .yarrow-partners-item h2{
        font-size: 30px;
    }
    .yarrow-partners a{
        font-size: 27px;
        padding: 15px 110px;
    }
    .yarrow-facilities h2{
        font-size: 54px;
    }
    .yarrow-facilities p{
        font-size: 24px;
    }
    .yarrow-contact h2{
        font-size: 54px;
    }
    .yarrow-awwards h2{
        font-size: 50px;
    }
    .yarrow-awwards-item span{
        font-size: 22px;
    }
    .yarrow-awwards-item h3{
        font-size: 50px;
    }
    .yarrow-app h2{
        font-size: 50px;
    }
    .yarrow-app h3{
        font-size: 36px;
    }
    .yarrow-app a{
        font-size: 25px;
    }
    .yarrow-contact-form-top-left label{
        font-size: 22px;
    }
    .yarrow-facilities-item{
        font-size: 18px;
    }
    .yarrow-partners h2{
        font-size: 54px;
    }
    .yarrow-partners-item h2{
        font-size: 25px;
    }
}

@media (max-width: 1025px) {
    .header h1{
        font-size: 44px;
        text-align: center;
        width: 70%;
    }
    .header a {
        font-size: 24px;
        padding: 15px 98px;
    }
    .header-content p {
        font-size: 29px;
        margin-top: 85px;
    }
    .yarrow-api-content a[data-v-02281a80] {
        font-size: 20px;
        padding: 15px 94px;
    }
    .yarrow-api-content h2{
        font-size: 44px;
    }
    .yarrow-api-content h2{
        font-size: 33px;
    }
    .yarrow-partners h2{
        font-size: 44px;
    }
    .yarrow-partners p{
        font-size: 18px;
    }
    .yarrow-partners-item h2{
        font-size: 20px;
    }
    .yarrow-partners-item-text h3{
        font-size: 12px;
    }
    .yarrow-partners a {
        font-size: 22px;
        padding: 15px 90px;
    }
    .yarrow-facilities h2{
        font-size: 44px;
    }
    .yarrow-facilities p{
        font-size: 20px;
    }
    .yarrow-contact h2{
        font-size: 44px;
    }
    .yarrow-awwards h2{
        font-size: 35px;
    }
    .yarrow-awwards-item span{
        font-size: 18px;
    }
    .yarrow-app h2{
        font-size: 40px;
    }
    .yarrow-app h3{
        font-size: 23px;
    }
    .yarrow-app a{
        font-size: 20px;
    }
    .footer-img {
        width: 320px;
    }
    }

@media (max-width: 769px) {
    .yarrow-partners-item{
        width: 100%;
    }
    .yarrow-facilities-item{
        width: 48%;
    }
    .yarrow-contact-form-top{
        flex-direction: column;
    }
    .yarrow-contact-form-top-left{
        width: 100%;
    }
    .yarrow-contact-form-top-right{
        width: 100%;
        height: 400px;
        margin-top: 20px;
    }
    .yarrow-contact-form-bottom{
        flex-direction: column;
        gap: 10px;
    }
    .yarrow-contact-form-bottom a{
        width: 100%;
    }
    .yarrow-awwards-wrapper{
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }
    .yarrow-awwards-item{
        width: 48%;
    }
    .yarrow-app-img{
        width: 100%;
    }
    .yarrow-roudto{
        width: 80px;
    }
    .yarrow-contact
    {
        padding: 15px;
    }
    .navbar{
        border: none;
    }
    .yarrow-api-content{
        padding: 0 15px ;
    }
}

@media (max-width: 620px) {
    .yarrow-awwards-item{
        width: 100%;
    }
    .yarrow-facilities-item{
        width: 100%;
    }
    .header-content-img-line{
        display: none;
    }
    .header h1 {
        font-size: 31px;
        line-height: 40px;
        width: 100%;
    }
    .header-content-img {
        width: 100%;
    }
    .header-content p{
        display: none;
    }
    .header-content-img-point {
        position: absolute;
        top: 434px;
        left: 0;
        width: 100px;
    }
    .header a {
        width: 94%;
    }
    .yarrow-api-content a{
        width: 100%;
    }
    .yarrow-contact-form{
        padding: 20px;
    }
    .yarrow-contact-form-top-left label input{
        font-size: 18px;
    }
    .yarrow-contact-form-top-left label textarea{
        font-size: 18px;
    }
    .yarrow-contact-form-bottom a{
        font-size: 18px;
    }
    .header a{
        font-size: 18px;
    }
}