
/*yarrow partners*/
.yarrow-partners{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 150px;}

.yarrow-partnersline{
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    z-index: -1;
}
.yarrow-partners p{
    color: #898989;
    text-align: center;
    font-size: 26px;
    width: 70%;
    margin: 0;
}
.yarrow-partners h2{
    margin: 0;
    font-size: 64px;
    text-align: center;
}
.yarrow-partners h2 span{
    color: #FE6D00;
}
.yarrow-pertenres-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}
.yarrow-partners-item{
    display: flex;
    flex-direction: column;
    width: 48%;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #fff;
    background: rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(4px);
}
.yarrow-partners-item span{
    color: #898989;
    font-size: 20px;
}
.yarrow-partners-item h2{
    margin: 0;
    font-size: 34px;
    text-align: start;
}
.yarrow-partners-item-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.yarrow-partners-item-text h3{
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 5px 15px;
}
.yarrow-partners-item img{
    width: 60%;
}

.yarrow-partners a{
    color: #fff;
    text-decoration: none;
    padding: 20px 150px;
    border-radius: 20px;
    border: 2px solid #fff;
    width: max-content;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    transition: 0.4s ease;
    cursor: pointer;
    margin-top: 30px;
}
.yarrow-partners a:hover{
    color: #000000;
    background-color: #fff;
}
.yarrow-partners-qa{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 150px;
}
.yarrow-partners-qa-item{
    width: 65%;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #fff;
    background: rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(4px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.yarrow-partners-qa-item h2{
    margin: 0;
    font-size: 64px;
    text-align: center;
    color: #Fff;
}
.yarrow-partners-qa-item p{
    color: #898989;
    text-align: center;
    font-size: 30px;
    font-weight: 400;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}